body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 10px 20px;
}
.nav.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
/* .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav ul li{
    margin-left: 20px;
}
.nav ul li a{
    color: blue;
    text-decoration:none;
    padding: 8px 12px;
}
.nav ul li a:hover{
    background: #ddd;
    color: black;
    border-radius: 5px;
}
@media  (max-width: 600px){
    .nav 
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav ul {
        flex-direction: column;
        width: 100%;
    }
    .nav ul li {
        margin: 10px 0;
    }
    
} */
 .nav-links{
    display: flex;
    list-style: none;
 }
 .nav-links li{
    margin-left: 20px;
 }
 .nav-links a{
    color: bisque;
    text-decoration: none;
    padding: 8px 12px;
 }
 .nav-links a:hover{
    background: #ddd;
    flex-direction: column;
    border-radius: 5px;
 }
 .homeburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
 }
 .homeburger div{
    width: 25px;
    height: 3px;
    background-color: rgb(77, 5, 30);
    margin: 4px;
    transition: 0.3s;
 }
 /* slider */
 .slider{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
 }
 .slides{
    display: flex;
    /* width: 400%; */
    transition: transform 0.2s ease-in-out;
 }
 .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 /* buttons */
 .prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(red, green, blue, alpha);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;

 }
 .prev {left: 15px;}
 .next{right: 15px;}
 /* dots */
 .dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
 }
 .dot{
    height: 12px;
    width: 12px;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    cursor: pointer;
 }
 .dot.active{
    background: white;
 }
 @media (max-width:768px) {
    .slide img{
        height: 60vh;
    }
    
 }
 /* hero section */
 .hero{
    height: 100vh;
    background: url('c:\Users\91748\OneDrive\Desktop\mukul image.com.jpeg');
    no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(98, 3, 3);
    flex-direction: column;
 }
 .hero h1{
    font-size: 50px;
    margin: 0;
    color: #cc33ff;
 }
 .btn{
    background: #ff5733;
    color: rgb(76, 5, 5);
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
 }
 .btn:hover{
    background: #c70039;
 }
 @media  (max-width: 768px){
    .nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
        background: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }
    .nav-links.active{
        display: flex;
    }
    .nav-links li{
        margin: 10px 0;
        text-align: center;
    }
    .homeburger{
        display: flex;
    }
    .slide img {
        height: 60vh;
    }
    .hero h1{
        font-size: 35px;
        color: #c70039;
    }
    
 }